# Uninstall all three
helm uninstall milvus -n pai-dev
helm uninstall milvus -n pai-test
helm uninstall milvus -n pai-prod

# Clean up stuck PVCs
oc delete pvc -n pai-dev -l app.kubernetes.io/instance=milvus
oc delete pvc -n pai-test -l app.kubernetes.io/instance=milvus
oc delete pvc -n pai-prod -l app.kubernetes.io/instance=milvus


helm show values zilliztech/milvus | grep -A30 "^etcd:"
