persistentvolumeclaim/milvus-data created
configmap/milvus-config created
deployment.apps/milvus created
service/milvus created
service/milvus-lb created
persistentvolumeclaim/milvus-data created
configmap/milvus-config created
deployment.apps/milvus created
service/milvus created
error: error parsing STDIN: error converting YAML to JSON: yaml: line 19: mapping values are not allowed in this context
hsuma@plnx-admin:~/ocp-ai-config$
