hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ oc exec -n external-secrets deploy/external-secrets -- curl -sv https://vault.calix.local:8200/v1/sys/health 2>&1 | grep -E "SSL|TLS|subject|issuer|verify"
* TLSv1.0 (OUT), TLS header, Certificate Status (22):
* TLSv1.3 (OUT), TLS handshake, Client hello (1):
* TLSv1.2 (IN), TLS header, Certificate Status (22):
* TLSv1.3 (IN), TLS handshake, Server hello (2):
* TLSv1.2 (IN), TLS header, Finished (20):
* TLSv1.2 (IN), TLS header, Unknown (23):
* TLSv1.3 (IN), TLS handshake, Encrypted Extensions (8):
* TLSv1.2 (IN), TLS header, Unknown (23):
* TLSv1.3 (IN), TLS handshake, Request CERT (13):
* TLSv1.2 (IN), TLS header, Unknown (23):
* TLSv1.3 (IN), TLS handshake, Certificate (11):
* TLSv1.2 (OUT), TLS header, Unknown (21):
* TLSv1.3 (OUT), TLS alert, unknown CA (560):
* SSL certificate problem: self-signed certificate in certificate chain
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ echo $TOKEN | cut -d. -f2 | base64 -d 2>/dev/null
{"aud":["https://kubernetes.default.svc"],"exp":1772316010,"iat":1772315410,"iss":"https://kubernetes.default.svc","jti":"466b0954-e588-49b7-a40d-2b9c34bb5d39","kubernetes.io":{"namespace":"pai-dev","serviceaccount":{"name":"external-secrets","uid":"c5d41ca6-2e97-421f-b198-0934285dd7ce"}},"nbf":1772315410,"sub":"system:serviceaccount:pai-dev:external-secrets"}hsuma@plnx-admin:~/ocp-ai-config$
