hsuma@plnx-admin:~/ocp-ai-config$ oc patch deploy agent-gateway -n pai-dev --type json \
  -p '[{"op":"replace","path":"/spec/template/spec/containers/0/env/0/value","value":"disable"}]'
deployment.apps/agent-gateway patched
hsuma@plnx-admin:~/ocp-ai-config$ oc patch deploy internal-agentmesh-agent-gateway-service -n pai-dev --type json \
  -p '[{"op":"add","path":"/spec/template/spec/containers/0/env/-","value":{"name":"PGSSLMODE","value":"disable"}}]'
deployment.apps/internal-agentmesh-agent-gateway-service patched
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ oc rollout status deploy/agent-gateway -n pai-dev --timeout=120s
Waiting for deployment "agent-gateway" rollout to finish: 1 old replicas are pending termination...
Waiting for deployment "agent-gateway" rollout to finish: 1 old replicas are pending termination...
Waiting for deployment "agent-gateway" rollout to finish: 1 old replicas are pending termination...
deployment "agent-gateway" successfully rolled out
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ oc rollout status deploy/internal-agentmesh-agent-gateway-service -n pai-dev --timeout=120s
Waiting for deployment "internal-agentmesh-agent-gateway-service" rollout to finish: 1 old replicas are pending termination...
Waiting for deployment "internal-agentmesh-agent-gateway-service" rollout to finish: 1 old replicas are pending termination...
Waiting for deployment "internal-agentmesh-agent-gateway-service" rollout to finish: 1 old replicas are pending termination...
deployment "internal-agentmesh-agent-gateway-service" successfully rolled out
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ oc get pods -n pai-dev -w
NAME                                                        READY   STATUS    RESTARTS   AGE
agent-gateway-5598fbc67-fwmtg                               1/1     Running   0          58s
ai-model-multimodel-service-897db5c4c-nrzbk                 1/1     Running   0          6h6m
internal-agentmesh-agent-gateway-service-7978484664-wzp2j   1/1     Running   0          51s
postgresql-78b656858b-4fmhl                                 1/1     Running   0          51m
^Chsuma@plnx-admin:~/ocp-ai-config$ oc get pods -n pai-dev
NAME                                                        READY   STATUS    RESTARTS   AGE
agent-gateway-5598fbc67-fwmtg                               1/1     Running   0          63s
ai-model-multimodel-service-897db5c4c-nrzbk                 1/1     Running   0          6h6m
internal-agentmesh-agent-gateway-service-7978484664-wzp2j   1/1     Running   0          56s
postgresql-78b656858b-4fmhl                                 1/1     Running   0          51m
hsuma@plnx-admin:~/ocp-ai-config$
