Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 395 bytes | 395.00 KiB/s, done.
Total 4 (delta 3), reused 0 (delta 0), pack-reused 0
To bitbucket.org:calixprod/ocp-ai-platform.git
   1739bd8..a44c0b4  main -> main
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ sudo arp -d 10.172.248.175 2>/dev/null; sleep 10; ping -c 3 10.172.248.175
PING 10.172.248.175 (10.172.248.175) 56(84) bytes of data.

--- 10.172.248.175 ping statistics ---
3 packets transmitted, 0 received, 100% packet loss, time 2052ms

hsuma@plnx-admin:~/ocp-ai-config$
