oc patch secretstore vault-store -n pai-dev --type merge -p '{"spec":{"provider":{"vault":{"server":"https://vault.calix.local:8200"}}}}'

oc patch secretstore vault-store -n pai-test --type merge -p '{"spec":{"provider":{"vault":{"server":"https://vault.calix.local:8200"}}}}'

oc patch secretstore vault-store -n pai-prod --type merge -p '{"spec":{"provider":{"vault":{"server":"https://vault.calix.local:8200"}}}}'

oc patch secretstore vault-store -n trident --type merge -p '{"spec":{"provider":{"vault":{"server":"https://vault.calix.local:8200"}}}}'
