hsuma@plnx-admin:~$ oc get certificate -n openshift-ingress
NAME                READY   SECRET                     AGE
apps-wildcard-tls   True    apps-wildcard-tls          4d22h
wildcard-dev-tls    False   wildcard-dev-tls-secret    20s
wildcard-prod-tls   False   wildcard-prod-tls-secret   20s
wildcard-test-tls   False   wildcard-test-tls-secret   20s
hsuma@plnx-admin:~$
hsuma@plnx-admin:~$ oc get certificate -n openshift-ingress
NAME                READY   SECRET                     AGE
apps-wildcard-tls   True    apps-wildcard-tls          4d22h
wildcard-dev-tls    False   wildcard-dev-tls-secret    25s
wildcard-prod-tls   False   wildcard-prod-tls-secret   25s
wildcard-test-tls   False   wildcard-test-tls-secret   25s
hsuma@plnx-admin:~$ oc get certificate -n openshift-ingress
NAME                READY   SECRET                     AGE
apps-wildcard-tls   True    apps-wildcard-tls          4d22h
wildcard-dev-tls    False   wildcard-dev-tls-secret    27s
wildcard-prod-tls   False   wildcard-prod-tls-secret   27s
wildcard-test-tls   False   wildcard-test-tls-secret   27s
hsuma@plnx-admin:~$
