oc create token external-secrets -n external-secrets --duration=8760h

vault write auth/kubernetes-ocp-ai/config \
  kubernetes_host="https://api.ocp-ai.calix.local:6443" \
  token_reviewer_jwt="<paste-new-token>" \
  kubernetes_ca_cert=@/tmp/k8s-ca.pem
