oc get svc pai-gateway-openshift-default -n openshift-ingress -o yaml | grep -E 'type:|externalTrafficPolicy|externalIPs|loadBalancer'

# Check if .175 is maybe assigned directly to a node
oc debug node/ocp-ai-master03.calix.local -- chroot /host ip addr | grep 248.175
