oc get sa external-secrets -n pai-dev
oc create token external-secrets -n pai-dev --duration=120s | cut -d. -f2 | base64 -d 2>/dev/null | python3 -m json.tool

TOKEN=$(oc create token external-secrets -n pai-dev --duration=300s)
oc exec -n external-secrets deploy/external-secrets -- curl -sk \
  --request POST \
  --data "{\"jwt\":\"$TOKEN\",\"role\":\"eso-pai-dev\"}" \
  https://vault.calix.local:8200/v1/auth/kubernetes-ocp-ai/login


  # Gene runs on Vault:
vault write auth/kubernetes-ocp-ai/config \
  kubernetes_host="https://api.ocp-ai.calix.local:6443" \
  token_reviewer_jwt="<new-long-lived-token>"
