hsuma@plnx-admin:~/ocp-ai-config$ openssl s_client -connect 10.172.249.106:8200 -servername plnx-vault.calix.local 2>/dev/null | openssl x509 -noout -subject -ext subjectAltName
subject=C = US, ST = California, L = San Jose, O = Calix, OU = Engineering Operations, CN = vault.calix.local
X509v3 Subject Alternative Name:
    DNS:vault.calix.local, DNS:plnx-vault.calix.local, email:EngineeringOperations-Infrastructure@calix.com
