oc get sa external-secrets -n pai-dev

hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ oc get sa external-secrets -n pai-dev
NAME               SECRETS   AGE
external-secrets   1         2d15h
hsuma@plnx-admin:~/ocp-ai-config$
oc create token external-secrets -n pai-dev --duration=120s | cut -d. -f2 | base64 -d 2>/dev/null | python3 -m json.tool

# On plnx-vault as root (with VAULT_SKIP_VERIFY=true)
vault read auth/kubernetes-ocp-ai/config -format=json | python3 -c "import sys,json; print(json.load(sys.stdin)['data'].get('token_reviewer_jwt_set', 'not set'))"

oc create token external-secrets -n external-secrets --duration=8760h


vault write auth/kubernetes-ocp-ai/config \
  kubernetes_host="https://api.ocp-ai.calix.local:6443" \
  token_reviewer_jwt="<paste-the-token-from-above>"

  oc get sa -n kube-system | grep token-review
