hsuma@plnx-admin:~/ocp-ai-config$ oc get endpoints pai-gateway-openshift-default -n openshift-ingress
Warning: v1 Endpoints is deprecated in v1.33+; use discovery.k8s.io/v1 EndpointSlice
NAME                            ENDPOINTS                                          AGE
pai-gateway-openshift-default   10.130.0.41:443,10.130.0.41:15021,10.130.0.41:80   2d19h
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ oc get pods -n metallb-system -o wide
NAME                                                   READY   STATUS    RESTARTS   AGE     IP               NODE                          NOMINATED NODE   READINESS GATES
controller-fb7fcb695-tjrtj                             2/2     Running   0          3h58m   10.128.0.22      ocp-ai-master02.calix.local   <none>           <none>
metallb-operator-controller-manager-68b4948857-nvlkv   1/1     Running   0          4h6m    10.129.0.26      ocp-ai-master01.calix.local   <none>           <none>
metallb-operator-webhook-server-6c48f9b746-z4fcs       1/1     Running   0          3h58m   10.128.0.21      ocp-ai-master02.calix.local   <none>           <none>
speaker-4sm8f                                          2/2     Running   2          2d19h   10.172.248.151   ocp-ai-master02.calix.local   <none>           <none>
speaker-77d99                                          2/2     Running   5          2d19h   10.172.248.150   ocp-ai-master01.calix.local   <none>           <none>
speaker-vcmvl                                          2/2     Running   3          2d19h   10.172.248.152   ocp-ai-master03.calix.local   <none>           <none>
hsuma@plnx-admin:~/ocp-ai-config$ arping -c 2 -I eno1 10.172.248.175 2>/dev/null || arp -n | grep 175
10.172.248.175           ether   00:25:b5:51:0b:68   C                     ens33
hsuma@plnx-admin:~/ocp-ai-config$
