# On plnx-admin
oc create token external-secrets -n external-secrets --duration=8760h

vault write auth/kubernetes-ocp-ai/config \
  kubernetes_host="https://api.ocp-ai.calix.local:6443" \
  token_reviewer_jwt="<paste-token>" \
  kubernetes_ca_cert=@/tmp/combined-ca.pem


  TOKEN=$(oc create token external-secrets -n pai-dev --duration=600s)
oc exec -n external-secrets deploy/external-secrets -- curl -sk \
  --request POST \
  --data "{\"jwt\":\"$TOKEN\",\"role\":\"eso-pai-dev\"}" \
  https://vault.calix.local:8200/v1/auth/kubernetes-ocp-ai/login
