# Check what SA etcd uses
oc get statefulset milvus-etcd -n pai-dev -o jsonpath='{.spec.template.spec.serviceAccountName}'

# Check the etcd security context
oc get statefulset milvus-etcd -n pai-dev -o jsonpath='{.spec.template.spec.securityContext}' | jq .
oc get statefulset milvus-etcd -n pai-dev -o jsonpath='{.spec.template.spec.containers[0].securityContext}' | jq .
