oc debug node/ocp-ai-master03.calix.local -- chroot /host sysctl net.ipv4.conf.eno6.arp_ignore net.ipv4.conf.eno6.arp_announce

oc debug node/ocp-ai-master03.calix.local -- chroot /host ip link | grep -A1 'eno\|br-'
