hsuma@plnx-admin:~/ocp-ai-config$ oc get pvc -A | grep pai
pai-dev                    model-cache-pvc          Bound    pvc-ed941f98-0820-4b25-be8d-c69bebc4e2d3   500Gi      RWO            netapp-app     <unset>                 12h
hsuma@plnx-admin:~/ocp-ai-config$
