hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ oc logs deploy/fileparser -n pai-dev --tail=50
warning: `--no-sync` has no effect when used outside of a project
error: Failed to spawn: `parser-service`
  Caused by: No such file or directory (os error 2)
hsuma@plnx-admin:~/ocp-ai-config$
