hsuma@plnx-admin:~/ocp-ai-config$ curl -sk https://tls-test.dev.ocp.calix.local
hsuma@plnx-admin:~/ocp-ai-config$ curl -sk https://tls-test.dev.ocp.calix.local -vv
* Could not resolve host: tls-test.dev.ocp.calix.local
* Closing connection 0
hsuma@plnx-admin:~/ocp-ai-config$ curl -sv https://tls-test.dev.ocp.calix.local
* Could not resolve host: tls-test.dev.ocp.calix.local
* Closing connection 0
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ curl -sI https://tls-test.dev.ocp.calix.local
hsuma@plnx-admin:~/ocp-ai-config$
