hsuma@plnx-admin:~/ocp-ai-config$ oc debug node/ocp-ai-master03.calix.local -- chroot /host ip link | grep -B1 '51:0b:68'
Starting pod/ocp-ai-master03calixlocal-debug-72szl ...
To use host binaries, run `chroot /host`. Instead, if you need to access host namespaces, run `nsenter -a -t 1`.
3: eno6: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 9000 qdisc mq state UP mode DEFAULT group default qlen 1000
    link/ether 00:25:b5:51:0b:68 brd ff:ff:ff:ff:ff:ff

Removing debug pod ...
hsuma@plnx-admin:~/ocp-ai-config$
