hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ oc get pod agent-gateway-6df79ddc5b-pt8dg -n pai-dev -o yaml | grep -A20 'volume'
    volumeMounts:
    - mountPath: /cache
      name: cache
    - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
      name: kube-api-access-rsz4j
      readOnly: true
  dnsPolicy: ClusterFirst
  enableServiceLinks: true
  imagePullSecrets:
  - name: reg-secret
  nodeName: ocp-ai-master03.calix.local
  preemptionPolicy: PreemptLowerPriority
  priority: 0
  restartPolicy: Always
  schedulerName: default-scheduler
  securityContext:
    fsGroup: 1000960000
    runAsNonRoot: true
    seLinuxOptions:
      level: s0:c31,c15
    seccompProfile:
--
  volumes:
  - emptyDir: {}
    name: cache
  - name: kube-api-access-rsz4j
    projected:
      defaultMode: 420
      sources:
      - serviceAccountToken:
          expirationSeconds: 3607
          path: token
      - configMap:
          items:
          - key: ca.crt
            path: ca.crt
          name: kube-root-ca.crt
      - downwardAPI:
          items:
          - fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
            path: namespace
--
    volumeMounts:
    - mountPath: /cache
      name: cache
    - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
      name: kube-api-access-rsz4j
      readOnly: true
      recursiveReadOnly: Disabled
  hostIP: 10.172.248.152
  hostIPs:
  - ip: 10.172.248.152
  phase: Running
  podIP: 10.130.0.47
  podIPs:
  - ip: 10.130.0.47
  qosClass: Burstable
  startTime: "2026-03-01T01:37:46Z"
hsuma@plnx-admin:~/ocp-ai-config$
