hsuma@plnx-admin:~/ocp-ai-config$ oc describe gateway pai-gateway -n openshift-ingress | grep -A5 'Name:.*https'
    Name:         https-dev
    Port:         443
    Protocol:     HTTPS
    Tls:
      Certificate Refs:
        Group:
--
    Name:         https-test
    Port:         443
    Protocol:     HTTPS
    Tls:
      Certificate Refs:
        Group:
--
    Name:         https-prod
    Port:         443
    Protocol:     HTTPS
    Tls:
      Certificate Refs:
        Group:
--
    Name:                    https-dev
    Supported Kinds:
      Group:          gateway.networking.k8s.io
      Kind:           HTTPRoute
      Group:          gateway.networking.k8s.io
      Kind:           GRPCRoute
--
    Name:                    https-test
    Supported Kinds:
      Group:          gateway.networking.k8s.io
      Kind:           HTTPRoute
      Group:          gateway.networking.k8s.io
      Kind:           GRPCRoute
--
    Name:                    https-prod
    Supported Kinds:
      Group:  gateway.networking.k8s.io
      Kind:   HTTPRoute
      Group:  gateway.networking.k8s.io
      Kind:   GRPCRoute
hsuma@plnx-admin:~/ocp-ai-config$
