oc debug node/ocp-ai-master01.calix.local -- chroot /host ip link set eno6 down
oc debug node/ocp-ai-master02.calix.local -- chroot /host ip link set eno6 down

curl -svk --connect-timeout 5 http://tls-test.dev.ocp-ai.calix.local 2>&1 | grep -E 'HTTP/|Location'
