hsuma@plnx-admin:~/ocp-ai-config$ ls -la gateway-api/
total 16
drwxr-xr-x 2 hsuma sw 4096 Feb 25 23:24 .
drwxr-xr-x 9 hsuma sw 4096 Feb 25 23:22 ..
-rw-r--r-- 1 hsuma sw  155 Feb 25 23:24 gatewayclass.yaml
-rw-r--r-- 1 hsuma sw  382 Feb 25 23:24 gateway.yaml
hsuma@plnx-admin:~/ocp-ai-config$
