metallb   Synced        Healthy
^Chsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ oc get ipaddresspools -n metallb-system
NAME                AUTO ASSIGN   AVOID BUGGY IPS   ADDRESSES
pai-services-dev    true          false             ["10.172.194.160-10.172.194.179"]
pai-services-prod   true          false             ["10.172.202.160-10.172.202.179"]
pai-services-test   true          false             ["10.172.198.160-10.172.198.179"]
reserved-future     false         false             ["10.172.248.175-10.172.248.180"]
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ oc get l2advertisement -n metallb-system
NAME               IPADDRESSPOOLS          IPADDRESSPOOL SELECTORS   INTERFACES
l2-vlan1510        ["reserved-future"]
l2-vlan1794-dev    ["pai-services-dev"]                              ["bond0.1794","bnd0.1794"]
l2-vlan1797-prod   ["pai-services-prod"]                             ["bond0.1797","bnd0.1797"]
l2-vlan1798-test   ["pai-services-test"]                             ["bond0.1798","bnd0.1798"]
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ oc get svc -n openshift-ingress pai-gateway-openshift-default
NAME                            TYPE           CLUSTER-IP     EXTERNAL-IP      PORT(S)                        AGE
pai-gateway-openshift-default   LoadBalancer   172.30.31.98   10.172.248.175   15021:30643/TCP,80:31594/TCP   2d16h
hsuma@plnx-admin:~/ocp-ai-config$
