cat <<'EOF' | oc apply -f -
apiVersion: v1
kind: Service
metadata:
  name: milvus-lb
  namespace: pai-prod
  annotations:
    metallb.universe.tf/address-pool: pai-services-prod
    metallb.universe.tf/loadBalancerIPs: "10.172.202.161"
spec:
  type: LoadBalancer
  selector:
    app: milvus
  ports:
    - name: grpc
      port: 19530
      targetPort: 19530
      protocol: TCP
EOF
