hsuma@plnx-admin:~/ocp-ai-config$ oc get pods -l app=milvus -A
NAMESPACE   NAME                      READY   STATUS    RESTARTS      AGE
pai-dev     milvus-78b5c96bfb-xphxl   1/1     Running   0             5m12s
pai-prod    milvus-59bdf9dbc8-qnggs   0/1     Running   2 (27s ago)   3m15s
pai-test    milvus-bcdb44ffc-skvzb    1/1     Running   0             3m15s
hsuma@plnx-admin:~/ocp-ai-config$
