openssl s_client -connect vault.calix.local:8200 -showcerts 2>/dev/null \
  | awk '/BEGIN CERTIFICATE/,/END CERTIFICATE/' > /tmp/vault-fullchain.pem


  openssl x509 -in /tmp/vault-fullchain.pem -noout -subject -issuer
cat /tmp/vault-fullchain.pem | grep 'BEGIN CERTIFICATE' | wc -l
