oc get secretstore -A

oc get secretstore vault-store -n pai-dev -o jsonpath='{.spec.provider.vault.caBundle}' | base64 -d | grep -A 1000 "BEGIN CERTIFICATE" | head -20

oc patch secretstore vault-store -n pai-dev --type json -p '[{"op":"remove","path":"/spec/provider/vault/caBundle"}]'
