hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ oc get storageclass
NAME                   PROVISIONER             RECLAIMPOLICY   VOLUMEBINDINGMODE   ALLOWVOLUMEEXPANSION   AGE
netapp-app (default)   csi.trident.netapp.io   Retain          Immediate           true                   11d
netapp-infra           csi.trident.netapp.io   Retain          Immediate           true                   11d
hsuma@plnx-admin:~/ocp-ai-config$
