CABUNDLE=$(base64 -w 0 /tmp/vault-fullchain.pem)

oc patch clusterissuer vault-issuer --type merge -p "{
  \"spec\": {
    \"vault\": {
      \"server\": \"https://vault.calix.local:8200\",
      \"caBundle\": \"$CABUNDLE\"
    }
  }
}"
