# Everything in pai-dev
oc get all -n pai-dev

# Secrets and configmaps driving config
oc get secrets,configmaps -n pai-dev

# Any PVCs they've created
oc get pvc -n pai-dev

# Any ExternalSecrets they're using
oc get externalsecrets -n pai-dev

# Any HTTPRoutes or LB services already created
oc get httproutes -n pai-dev
oc get svc -n pai-dev
