[root@plnx-vault ~]#
[root@plnx-vault ~]#
[root@plnx-vault ~]# vault secrets list | grep -i kv
kv/           kv           kv_9c27639a           n/a
secret/       kv           kv_bc0662a0           n/a
[root@plnx-vault ~]#
[root@plnx-vault ~]#
[root@plnx-vault ~]#
[root@plnx-vault ~]# vault kv get kv/pai/dev/test-secret
======= Secret Path =======
kv/data/pai/dev/test-secret

======= Metadata =======
Key                Value
---                -----
created_time       2026-02-26T06:12:30.300719951Z
custom_metadata    <nil>
deletion_time      n/a
destroyed          false
version            1

====== Data ======
Key         Value
---         -----
password    testpass123
username    testuser
[root@plnx-vault ~]#
[root@plnx-vault ~]# vault kv get secret/pai/dev/test-secret
No value found at secret/data/pai/dev/test-secret
