oc debug node/ocp-ai-master03.calix.local -- chroot /host sysctl -w net.ipv4.conf.eno6.arp_ignore=1 net.ipv4.conf.eno6.arp_announce=2

sudo arp -d 10.172.248.175 2>/dev/null; sleep 3; ping -c 3 10.172.248.175
