oc annotate certificate wildcard-dev-tls -n openshift-ingress cert-manager.io/issuing-refresh="$(date +%s)" --overwrite
oc annotate certificate wildcard-test-tls -n openshift-ingress cert-manager.io/issuing-refresh="$(date +%s)" --overwrite
oc annotate certificate wildcard-prod-tls -n openshift-ingress cert-manager.io/issuing-refresh="$(date +%s)" --overwrite
