deployment.apps/milvus patched
deployment.apps/milvus patched
The Deployment "milvus" is invalid:
* spec.template.spec.volumes[3].name: Duplicate value: "etcd-data"
* spec.template.spec.containers[0].volumeMounts[3].mountPath: Invalid value: "/var/lib/milvus/etcd": must be unique
hsuma@plnx-admin:~/ocp-ai-config$
