hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ curl -svk --connect-timeout 5 https://tls-test.dev.ocp-ai.calix.local 2>&1 | grep -E 'subject:|issuer:|HTTP/'
*  subject: [NONE]
*  issuer: CN=Calix OCP-AI Intermediate CA
* Connection state changed (HTTP/2 confirmed)
* Copying HTTP/2 data in stream buffer to connection buffer after upgrade: len=0
> GET / HTTP/2
< HTTP/2 503
hsuma@plnx-admin:~/ocp-ai-config$
