hsuma@plnx-admin:~$
hsuma@plnx-admin:~$ oc get configmap internal-agentmesh-agent-gateway-service -n pai-dev -o yaml | grep -v "^  f:" | grep -v "manager"
apiVersion: v1
data:
  AGENT_CARD_PATH: /.well-known/agent.json
  ALLOWED_AUTHORS: user,tnc_master_agent,audio_summarizer,email_drafter,general_chatbot,podcast,summarizer,router,web_search_agent,GENERAL_AGENT,REPORT_SYNTHESIS_AGENT,
    visualization_specialist,ATLASSIAN_AGENT,IT_SERVICE_DESK_AGENT
  APP_NAME: GENERAL_AGENT
  ATLASSIAN_AGENT_BASEURL: http://10.172.249.100:8400
  ATLASSIAN_AGENT_ID: b143ee5f-7768-4385-86a0-33b8ee0312dd
  ATLASSIAN_APP_NAME: ATLASSIAN_AGENT
  ATLASSIAN_CLIENT_ID: XvJRh5bWDycXcq0smLRraNmvUeWAStbo
  ATLASSIAN_CLIENT_SECRET: <redacted>
  ATLASSIAN_TOKEN_URL: https://auth.atlassian.com/oauth/token
  AUTH_SERVICE_URL: http://10.172.249.100:8180
  CONNECTION_TIMEOUT: "5"
  DATABASE_HOST: postgresql
  DATABASE_NAME: test_db
  DATABASE_PORT: "5432"
  EMPLOYEE_ENGAGEMENT_AGENT_BASEURL: http://10.172.249.100:7777
  EMPLOYEE_ENGAGEMENT_AGENT_ID: d8582716-016c-484f-bf2d-a35f8f039ce2
  EMPLOYEE_ENGAGEMENT_AGENT_NAME: employee-engagement
  EMPLOYEE_ENGAGEMENT_APP_NAME: EMPLOYEE_ENGAGEMENT_AGENT
  EVENTS_TABLE: public.events
  FERNET_SECRET: <redacted>
  FILE_RECORD_TABLE: public.file_records
  FILE_UPLOAD_BASE_URL: https://rag-app-dev-880887032389.us-central1.run.app
  GENERAL_AGENT_BASEURL: http://10.172.249.100:9999
  GENERAL_AGENT_ID: 550e8400-e29b-41d4-a716-446655440002
  GENERAL_AGENT_NAME: general
  HOST: 0.0.0.0
  IT_SERVICE_DESK_AGENT_BASEURL: http://10.172.249.100:8307
  IT_SERVICE_DESK_AGENT_ID: 8b2bfde0-4e25-4982-ac8b-525893515a0f
  IT_SERVICE_DESK_AGENT_NAME: it-service-desk
  IT_SERVICE_DESK_APP_NAME: IT_SERVICE_DESK_AGENT
  MARKET_RESEARCH_AGENT_BASEURL: https://marketresearch-agent-985953483072.us-central1.run.app/
  MARKET_RESEARCH_AGENT_ID: a2426c7c-a0d0-4c1e-9e26-afbd5a0f17bc
  MARKET_RESEARCH_APP_NAME: MARKET_RESEARCH_AGENT
  OTEL_ENABLE_WEBSOCKET_TRACING: "true"
  OTEL_ENVIRONMENT: dev
  OTEL_LOG_LEVEL: INFO
  OTEL_LOGS_ENDPOINT: https://otel-observability.ai.xilac.net/v1/logs
  OTEL_METRICS_ENABLED: "true"
  OTEL_METRICS_ENDPOINT: https://otel-observability.ai.xilac.net/v1/metrics
  OTEL_PROPAGATORS: tracecontext,baggage
  OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED: "true"
  OTEL_SERVICE_NAME: internal-agentmesh-agent-gateway-service-dev
  OTEL_TRACES_ENABLED: "true"
  OTEL_TRACES_ENDPOINT: https://otel-observability.ai.xilac.net/v1/traces
  PORT: "8089"
  POSTGRES_ASYNC_DB_URL: postgresql+asyncpg://appuser:calix123@postgresql:5432/test_db
  POSTGRES_DB_URL: postgresql+asyncpg://appuser:calix123@postgresql:5432/test_dB
  QUERY_TIMEOUT: "30"
  TOKEN_EXPIRY_BUFFER_SECONDS: "300"
  USER_SESSION_TABLE: public.user_session_details
  WEB_SEARCH_AGENT_BASEURL: http://10.172.249.100:7778
  WEB_SEARCH_AGENT_ID: 64f5f1f5-7241-466d-913a-01b57f12683e
  WEB_SEARCH_APP_NAME: WEB_SEARCH_AGENT
  namespace: pai-dev
kind: ConfigMap
metadata:
  annotations:
    meta.helm.sh/release-name: internal-agentmesh-agent-gateway-service
    meta.helm.sh/release-namespace: pai-dev
  creationTimestamp: "2026-02-27T06:52:13Z"
  labels:
    app.kubernetes.io/managed-by: Helm
  name: internal-agentmesh-agent-gateway-service
  namespace: pai-dev
  resourceVersion: "5549068"
  uid: 4ebb86dd-8ec8-4b6e-94c0-bb65680d8e23
hsuma@plnx-admin:~$
