^[[A^[[A^Chsuma@plnx-admin:~/ocp-ai-config$ oc get pods -n pai-prod
NAME                      READY   STATUS    RESTARTS   AGE
milvus-59bdf9dbc8-6gr6f   0/1     Running   0          3m38s
minio-85b4477cdc-g5c6b    1/1     Running   0          87m
hsuma@plnx-admin:~/ocp-ai-config$ oc logs milvus-59bdf9dbc8-6gr6f -n pai-prod
2026/03/01 05:40:27 jemalloc memory profiling option is not enabled, cgomemprof http handler will not be registered
[2026/03/01 05:40:27.910 +00:00] [INFO] [distance/calc_distance_amd64.go:14] ["Hook avx for go simd distance computation"]
[2026/03/01 05:40:27.920 +00:00] [DEBUG] [runtime/asm_amd64.s:1700] ["start refreshing configurations"] [source=FileSource]
[2026/03/01 05:40:27.934 +00:00] [DEBUG] [runtime/asm_amd64.s:1700] ["start refreshing configurations"] [source=FileSource]
[2026/03/01 05:40:27.934 +00:00] [INFO] [paramtable/hook_config.go:21] ["hook config"] [hook={}]
[2026/03/01 05:40:27.934 +00:00] [INFO] [paramtable/cipher_config.go:24] ["init cipher config"]
2026/03/01 05:40:27 maxprocs: Updating GOMAXPROCS=8: determined from CPU quota
Set runtime dir at /run/milvus failed, set it to /tmp/milvus directory

    __  _________ _   ____  ______
   /  |/  /  _/ /| | / / / / / __/
  / /|_/ // // /_| |/ / /_/ /\ \
 /_/  /_/___/____/___/\____/___/

Welcome to Milvus!
Version:   2.6.11
Built:     Wed Feb 11 10:30:03 UTC 2026
GitCommit: 3a8d994
GoVersion: go version go1.24.12 linux/amd64

TotalMem: 17179869184
UsedMem: 109244416

open pid file: /tmp/milvus/standalone.pid
lock pid file: /tmp/milvus/standalone.pid
[2026/03/01 05:40:27.936 +00:00] [INFO] [roles/roles.go:374] ["starting running Milvus components"]
[2026/03/01 05:40:27.936 +00:00] [INFO] [roles/roles.go:182] ["Enable Jemalloc"] ["Jemalloc Path"=:/milvus/lib/libjemalloc.so]
{"level":"warn","ts":"2026-03-01T05:40:27.937396Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
{"level":"warn","ts":"2026-03-01T05:40:27.937422Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
{"level":"info","ts":"2026-03-01T05:40:27.937426Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://localhost:2380"]}
{"level":"info","ts":"2026-03-01T05:40:27.937865Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://0.0.0.0:2379"]}
{"level":"info","ts":"2026-03-01T05:40:27.938053Z","caller":"embed/etcd.go:323","msg":"starting an etcd server","etcd-version":"3.5.23","git-sha":"Not provided (use ./build instead of go build)","go-version":"go1.24.12","go-os":"linux","go-arch":"amd64","max-cpu-set":8,"max-cpu-available":128,"member-initialized":false,"name":"default","data-dir":"/var/lib/milvus/etcd","wal-dir":"","wal-dir-dedicated":"","member-dir":"/var/lib/milvus/etcd/member","force-new-cluster":false,"heartbeat-interval":"100ms","election-timeout":"1s","initial-election-tick-advance":true,"snapshot-count":100000,"max-wals":5,"max-snapshots":5,"snapshot-catchup-entries":5000,"initial-advertise-peer-urls":["http://localhost:2380"],"listen-peer-urls":["http://localhost:2380"],"advertise-client-urls":["http://0.0.0.0:2379"],"listen-client-urls":["http://0.0.0.0:2379"],"listen-metrics-urls":[],"cors":["*"],"host-whitelist":["*"],"initial-cluster":"default=http://localhost:2380","initial-cluster-state":"new","initial-cluster-token":"etcd-cluster","quota-backend-bytes":4294967296,"max-request-bytes":1572864,"max-concurrent-streams":4294967295,"pre-vote":true,"initial-corrupt-check":false,"corrupt-check-time-interval":"0s","compact-check-time-enabled":false,"compact-check-time-interval":"1m0s","auto-compaction-mode":"revision","auto-compaction-retention":"1µs","auto-compaction-interval":"1µs","discovery-url":"","discovery-proxy":"","downgrade-check-interval":"5s"}
{"level":"info","ts":"2026-03-01T05:40:37.946968Z","caller":"etcdserver/backend.go:85","msg":"db file is flocked by another process, or taking too long","path":"/var/lib/milvus/etcd/member/snap/db","took":"10.000623528s"}
[2026/03/01 05:40:57.937 +00:00] [DEBUG] [metrics/thread.go:74] ["thread watcher observe thread num"] [threadNum=81]
[2026/03/01 05:41:27.372 +00:00] [WARN] [roles/roles.go:353] ["Get signal to exit"] [signal=terminated]
[2026/03/01 05:41:27.937 +00:00] [DEBUG] [metrics/thread.go:74] ["thread watcher observe thread num"] [threadNum=81]
hsuma@plnx-admin:~/ocp-ai-config$


9m2s        Warning   Unhealthy                pod/milvus-59bdf9dbc8-c4m5p                Liveness probe failed: HTTP probe failed with statuscode: 500
7m54s       Warning   Unhealthy                pod/milvus-59bdf9dbc8-c4m5p                Readiness probe failed: HTTP probe failed with statuscode: 500
7m29s       Normal    Started                  pod/milvus-59bdf9dbc8-c4m5p                Started container milvus
7m29s       Normal    Created                  pod/milvus-59bdf9dbc8-c4m5p                Created container: milvus
7m29s       Normal    Pulled                   pod/milvus-59bdf9dbc8-c4m5p                Container image "milvusdb/milvus:v2.6.11" already present on machine
6m17s       Normal    Killing                  pod/milvus-59bdf9dbc8-c4m5p                Container milvus failed liveness probe, will be restarted
4m45s       Normal    ScalingReplicaSet        deployment/milvus                          Scaled up replica set milvus-59bdf9dbc8 from 0 to 1
4m45s       Normal    Provisioning             persistentvolumeclaim/milvus-data          External provisioner is provisioning volume for claim "pai-prod/milvus-data"
4m45s       Normal    SuccessfulCreate         replicaset/milvus-59bdf9dbc8               Created pod: milvus-59bdf9dbc8-6gr6f
4m40s       Normal    ExternalProvisioning     persistentvolumeclaim/milvus-data          Waiting for a volume to be created either by the external provisioner 'csi.trident.netapp.io' or manually by the system administrator. If volume creation is delayed, please verify that the provisioner is running and correctly registered.
4m38s       Normal    ProvisioningSucceeded    persistentvolumeclaim/milvus-data          Successfully provisioned volume pvc-e56b9bd6-3538-4f72-8143-c3c42b869b03
4m38s       Normal    ProvisioningSuccess      persistentvolumeclaim/milvus-data          provisioned a volume
4m37s       Normal    SuccessfulAttachVolume   pod/milvus-59bdf9dbc8-6gr6f                AttachVolume.Attach succeeded for volume "pvc-e56b9bd6-3538-4f72-8143-c3c42b869b03"
4m32s       Normal    Created                  pod/milvus-59bdf9dbc8-6gr6f                Created container: milvus
4m32s       Normal    Started                  pod/milvus-59bdf9dbc8-6gr6f                Started container milvus
4m32s       Normal    AddedInterface           pod/milvus-59bdf9dbc8-6gr6f                Add eth0 [10.128.0.32/23] from ovn-kubernetes
3m35s       Normal    Valid                    secretstore/vault-store                    store validated
3m32s       Warning   Unhealthy                pod/milvus-59bdf9dbc8-6gr6f                Liveness probe failed: Get "http://10.128.0.32:9091/healthz": dial tcp 10.128.0.32:9091: connect: connection refused
3m32s       Normal    Killing                  pod/milvus-59bdf9dbc8-6gr6f                Container milvus failed liveness probe, will be restarted
62s         Warning   Unhealthy                pod/milvus-59bdf9dbc8-6gr6f                Readiness probe failed: Get "http://10.128.0.32:9091/healthz": dial tcp 10.128.0.32:9091: connect: connection refused
58s         Normal    Pulled                   pod/milvus-59bdf9dbc8-6gr6f                Container image "milvusdb/milvus:v2.6.11" already present on machine
58s         Warning   Failed                   pod/milvus-59bdf9dbc8-6gr6f                Error: context deadline exceeded
hsuma@plnx-admin:~/ocp-ai-config$
