oc create sa internal-datapipeline-rag-fileparser-service -n pai-dev


# Force a new rollout
oc rollout restart deploy/fileparser -n pai-dev
oc rollout status deploy/fileparser -n pai-dev --timeout=120s
