helm template milvus zilliztech/milvus -n pai-dev \
  --set cluster.enabled=false \
  --set minio.enabled=false \
  --set pulsarv3.enabled=false \
  --set etcd.enabled=true \
  --set etcd.replicaCount=1 2>&1 | grep -i "statefulset" | head -5
