[root@plnx-vault ~]#
[root@plnx-vault ~]# vault secrets list | grep -i kv
kv/           kv           kv_9c27639a           n/a
secret/       kv           kv_bc0662a0           n/a
[root@plnx-vault ~]#
