oc patch deploy fileparser -n pai-dev --type json -p '[
  {"op":"add","path":"/spec/template/spec/containers/0/command","value":["/app/.venv/bin/parser-service"]}
]'

oc scale deploy fileparser -n pai-dev --replicas=1
oc rollout status deploy/fileparser -n pai-dev --timeout=120s


oc delete pod fileparser-debug2 -n pai-dev --force --grace-period=0
