# Check what dev is using
oc get deploy milvus -n pai-dev -o jsonpath='{.spec.template.spec.containers[0].env}' | jq '.[] | select(.name | test("MINIO_ROOT_PATH|rootPath"))'


# Fix rootPath for each environment
oc set env deploy/milvus -n pai-dev MINIO_ROOT_PATH=milvus/dev
oc set env deploy/milvus -n pai-test MINIO_ROOT_PATH=milvus/test
oc set env deploy/milvus -n pai-prod MINIO_ROOT_PATH=milvus/prod


sleep 60 && oc get pods -l app=milvus -A
