oc logs -n metallb-system speaker-4sm8f -c speaker --tail=5 --since=5m
oc logs -n metallb-system speaker-77d99 -c speaker --tail=5 --since=5m
oc logs -n metallb-system speaker-vcmvl -c speaker --tail=5 --since=5m
