oc patch secretstore vault-store -n pai-test --type json -p '[{"op":"remove","path":"/spec/provider/vault/caBundle"}]'
oc patch secretstore vault-store -n pai-prod --type json -p '[{"op":"remove","path":"/spec/provider/vault/caBundle"}]'

oc get sa -n trident | grep external

vault read auth/kubernetes-ocp-ai/role/eso-pai-dev
vault read auth/kubernetes-ocp-ai/config
