hsuma@plnx-admin:~/ocp-ai-config$ ls -la
total 52
drwxr-xr-x  9 hsuma sw  4096 Feb 25 23:22 .
drwxr-xr-x 46 hsuma sw 16384 Feb 28 14:53 ..
drwxr-xr-x  2 hsuma sw  4096 Feb 25 23:25 apps
drwxr-xr-x  2 hsuma sw  4096 Feb 28 18:08 gateway-api
drwxr-xr-x  8 hsuma sw  4096 Feb 28 19:21 .git
-rw-r--r--  1 hsuma sw    22 Feb 19 13:55 .gitignore
drwxr-xr-x  2 hsuma sw  4096 Feb 28 19:21 machineconfigs
drwxr-xr-x  2 hsuma sw  4096 Feb 25 21:43 metallb
drwxr-xr-x  2 hsuma sw  4096 Feb 23 22:28 nmstate
-rw-r--r--  1 hsuma sw  2622 Feb 19 13:55 README.md
drwxr-xr-x  2 hsuma sw  4096 Feb 23 19:15 trident
hsuma@plnx-admin:~/ocp-ai-config$
