# Delete ObjectStore instances
oc delete objectstore minio -n pai-dev
oc delete objectstore minio -n pai-test
oc delete objectstore minio -n pai-prod

# Delete the storage-configuration secrets (not needed for community image)
oc delete secret storage-configuration -n pai-dev
oc delete secret storage-configuration -n pai-test
oc delete secret storage-configuration -n pai-prod

# Uninstall the operator
oc delete subscription minio-object-store-operator -n aistor
oc delete csv -n aistor --all
oc delete namespace aistor
