hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ helm search repo zilliztech/milvus --versions | head -5
NAME             	CHART VERSION	APP VERSION       	DESCRIPTION
zilliztech/milvus	5.0.14       	2.6.11            	Milvus is an open-source vector database built ...
zilliztech/milvus	5.0.13       	2.6.10            	Milvus is an open-source vector database built ...
zilliztech/milvus	5.0.12       	2.6.9             	Milvus is an open-source vector database built ...
zilliztech/milvus	5.0.11       	2.6.8             	Milvus is an open-source vector database built ...
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ helm show values zilliztech/milvus | head -100
## Expand the name of the chart
nameOverride: ""

## Default fully qualified app name
fullnameOverride: ""

## Enable or disable Milvus Cluster mode
cluster:
  enabled: true

image:
  all:
    repository: milvusdb/milvus
    tag: v2.6.11
    pullPolicy: IfNotPresent
    ## Optionally specify an array of imagePullSecrets.
    ## Secrets must be manually created in the namespace.
    ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
    ##
    # pullSecrets:
    #   - myRegistryKeySecretName

# Global node selector
# If set, this will apply to all milvus components
# Individual components can be set to a different node selector
nodeSelector: {}

# Global tolerations
# If set, this will apply to all milvus components
# Individual components can be set to a different tolerations
tolerations: []

# Global affinity
# If set, this will apply to all milvus components
# Individual components can be set to a different affinity
affinity: {}

# Global securityContext
# If set, this will apply to all milvus components
# Individual components can be set to a different securityContext
containerSecurityContext: {}
securityContext: {}
  # runAsUser: 1000
  # runAsGroup: 1000
  # fsGroup: 1000
  # runAsNonRoot: true

# Global topologySpreadConstraints
# If set, this will apply to all milvus components
# Individual components can be set to different topologySpreadConstraints
# ref: https://kubernetes.io/docs/concepts/scheduling-eviction/topology-spread-constraints/
topologySpreadConstraints: []
# - maxSkew: 1
#   topologyKey: topology.kubernetes.io/zone
#   whenUnsatisfiable: DoNotSchedule
#   labelSelector:
#     matchLabels:
#       app.kubernetes.io/name: milvus

# Global labels and annotations
# If set, this will apply to all milvus components
labels: {}
annotations: {}

# Global Volumes & volumeMounts
# If set, this will apply to all milvus components
# ref: https://kubernetes.io/docs/concepts/storage/volumes/
volumes: []
volumeMounts: []

# Streaming node
# Default config for 2.6.0 or later.
streaming:
  enabled: true
  woodpecker:
    embedded: true
    storage:
      type: minio

##
## If set, the whole config will be mounted from this custom ConfigMap.
## The ConfigMap should have a key named `milvus.yaml` which contains the full Milvus config.
## extraConfigFiles will be ignored if this variable is set.
##
customConfigMap: ""

# Extra configs for milvus.yaml
# If set, this config will merge into milvus.yaml
# Please follow the config structure in the milvus.yaml
# at https://github.com/milvus-io/milvus/blob/master/configs/milvus.yaml
# Note: this config will be the top priority which will override the config
# in the image and helm chart.
extraConfigFiles:
  user.yaml: |+
    #    For example enable rest http for milvus proxy
    #    proxy:
    #      http:
    #        enabled: true
    #      maxUserNum: 100
    #      maxRoleNum: 10
hsuma@plnx-admin:~/ocp-ai-config$
