cat <<'EOF' | oc apply -f -
apiVersion: aistor.min.io/v1
kind: ObjectStore
metadata:
  name: minio
  namespace: pai-dev
  labels:
    app: minio
spec:
  configuration:
    name: storage-configuration
  pools:
    - name: pool-0
      servers: 1
      volumesPerServer: 1
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 500Gi
          storageClassName: netapp-app
      containerSecurityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        runAsNonRoot: true
      securityContext:
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
      resources:
        requests:
          cpu: "8"
          memory: 16Gi
        limits:
          cpu: "8"
          memory: 16Gi
  mountPath: /export
  certificates:
    disableAutoCert: true
  podManagementPolicy: Parallel
---
apiVersion: aistor.min.io/v1
kind: ObjectStore
metadata:
  name: minio
  namespace: pai-test
  labels:
    app: minio
spec:
  configuration:
    name: storage-configuration
  pools:
    - name: pool-0
      servers: 1
      volumesPerServer: 1
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 500Gi
          storageClassName: netapp-app
      containerSecurityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        runAsNonRoot: true
      securityContext:
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
      resources:
        requests:
          cpu: "8"
          memory: 16Gi
        limits:
          cpu: "8"
          memory: 16Gi
  mountPath: /export
  certificates:
    disableAutoCert: true
  podManagementPolicy: Parallel
---
apiVersion: aistor.min.io/v1
kind: ObjectStore
metadata:
  name: minio
  namespace: pai-prod
  labels:
    app: minio
spec:
  configuration:
    name: storage-configuration
  pools:
    - name: pool-0
      servers: 1
      volumesPerServer: 1
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 500Gi
          storageClassName: netapp-app
      containerSecurityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        runAsNonRoot: true
      securityContext:
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
      resources:
        requests:
          cpu: "16"
          memory: 32Gi
        limits:
          cpu: "16"
          memory: 32Gi
  mountPath: /export
  certificates:
    disableAutoCert: true
  podManagementPolicy: Parallel
EOF
