hsuma@plnx-admin:~/ocp-ai-config$ oc get secretstore -A
NAMESPACE   NAME          AGE     STATUS                  CAPABILITIES   READY
pai-dev     vault-store   22h     InvalidProviderConfig                  False
pai-prod    vault-store   2d15h   InvalidProviderConfig                  False
pai-test    vault-store   2d15h   InvalidProviderConfig                  False
trident     vault-store   4d20h   InvalidProviderConfig                  False
hsuma@plnx-admin:~/ocp-ai-config$ oc get secretstore vault-store -n pai-dev -o yaml
apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  annotations:
    external-secrets.io/disable-maintenance-checks: "true"
  creationTimestamp: "2026-02-27T22:42:17Z"
  generation: 3
  labels:
    app: external-secrets-operator
  name: vault-store
  namespace: pai-dev
  resourceVersion: "6540661"
  uid: 59452602-3824-4b1d-b34e-4bee641127d5
spec:
  provider:
    vault:
      auth:
        kubernetes:
          mountPath: kubernetes-ocp-ai
          role: eso-pai-dev
          serviceAccountRef:
            name: external-secrets
            namespace: pai-dev
      path: kv
      server: https://vault.calix.local:8200
      version: v2
status:
  conditions:
  - lastTransitionTime: "2026-02-27T22:42:17Z"
    message: unable to create client
    reason: InvalidProviderConfig
    status: "False"
    type: Ready
hsuma@plnx-admin:~/ocp-ai-config$
