hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ CABUNDLE=$(cat /tmp/vault-ca-chain.pem | base64 -w 0)
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ oc patch secretstore vault-store -n pai-dev --type merge -p "{\"spec\":{\"provider\":{\"vault\":{\"caBundle\":\"$CABUNDLE\"}}}}"
secretstore.external-secrets.io/vault-store patched
hsuma@plnx-admin:~/ocp-ai-config$ oc get secretstore vault-store -n pai-dev
NAME          AGE   STATUS                  CAPABILITIES   READY
vault-store   23h   InvalidProviderConfig                  False
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ oc get secretstore vault-store -n pai-dev
NAME          AGE   STATUS                  CAPABILITIES   READY
vault-store   23h   InvalidProviderConfig                  False
hsuma@plnx-admin:~/ocp-ai-config$
