oc debug node/ocp-ai-master03.calix.local -- chroot /host sysctl net.ipv4.conf.eno6.arp_ignore


oc debug node/ocp-ai-master03.calix.local -- chroot /host sysctl net.ipv4.conf.eno6.arp_ignore
oc debug node/ocp-ai-master01.calix.local -- chroot /host sysctl net.ipv4.conf.eno6.arp_ignore
oc debug node/ocp-ai-master02.calix.local -- chroot /host sysctl net.ipv4.conf.eno6.arp_ignore
