hsuma@plnx-admin:~/ocp-ai-config$ oc get secretstore vault-store -n pai-dev -o yaml | grep -A 5 "server"
      server: '"https://vault.calix.local:8200"'
      version: v2
status:
  conditions:
  - lastTransitionTime: "2026-02-27T22:42:17Z"
    message: unable to create client
hsuma@plnx-admin:~/ocp-ai-config$
