hsuma@plnx-admin:~/ocp-ai-config$ oc logs agent-gateway-6df79ddc5b-pt8dg -n pai-dev --tail=30
    return await connect_utils._connect(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    ...<20 lines>...
    )
    ^
  File "/app/.venv/lib/python3.13/site-packages/asyncpg/connect_utils.py", line 1041, in _connect
    addrs, params, config = _parse_connect_arguments(**kwargs)
                            ~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^
  File "/app/.venv/lib/python3.13/site-packages/asyncpg/connect_utils.py", line 749, in _parse_connect_arguments
    addrs, params = _parse_connect_dsn_and_args(
                    ~~~~~~~~~~~~~~~~~~~~~~~~~~~^
        dsn=dsn, host=host, port=port, user=user,
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    ...<3 lines>...
        target_session_attrs=target_session_attrs,
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        krbsrvname=krbsrvname, gsslib=gsslib)
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/app/.venv/lib/python3.13/site-packages/asyncpg/connect_utils.py", line 624, in _parse_connect_dsn_and_args
    if sslkey is not None and not sslkey.exists():
                                  ~~~~~~~~~~~~~^^
  File "/usr/local/lib/python3.13/pathlib/_abc.py", line 450, in exists
    self.stat(follow_symlinks=follow_symlinks)
    ~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.13/pathlib/_local.py", line 515, in stat
    return os.stat(self, follow_symlinks=follow_symlinks)
           ~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
PermissionError: [Errno 13] Permission denied: '/home/appuser/.postgresql/postgresql.key'

ERROR:    Application startup failed. Exiting.
hsuma@plnx-admin:~/ocp-ai-config$
