oc debug --image=paidev-nexus.tools.shared.xilac.net/internal-datapipeline-rag-fileparser-service:1.0.0-63dbse.ca8b1a3 \
  -n pai-dev -- ls /app/


  oc run fileparser-debug -n pai-dev --rm -it --restart=Never \
  --image=paidev-nexus.tools.shared.xilac.net/internal-datapipeline-rag-fileparser-service:1.0.0-63dbse.ca8b1a3 \
  --overrides='{"spec":{"imagePullSecrets":[{"name":"reg-secret"}]}}' \
  --command -- /bin/sh -c "which parser-service; find / -name 'parser*' 2>/dev/null; cat /app/pyproject.toml 2>/dev/null; ls -la /app/"
