hsuma@plnx-admin:~/ocp-ai-config$ oc get pods -n istio-system
No resources found in istio-system namespace.
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ oc logs deploy/istiod -n istio-system --tail=30 | grep -i -E 'error|gateway|pai'
error: error from server (NotFound): namespaces "istio-system" not found in namespace "istio-system"
hsuma@plnx-admin:~/ocp-ai-config$
