hsuma@plnx-admin:~/ocp-ai-config$ curl -svk --connect-timeout 10 https://tls-test.dev.ocp-ai.calix.local 2>&1 | grep -E 'subject:|issuer:|SSL connection'
hsuma@plnx-admin:~/ocp-ai-config$ curl -svk --connect-timeout 20 https://tls-test.dev.ocp-ai.calix.local 2>&1 | grep -E 'subject:|issuer:|SSL connection'
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$ curl -svk --connect-timeout 20 https://tls-test.dev.ocp-ai.calix.local 2>&1 | head -30
*   Trying 10.172.248.175:443...
* After 20000ms connect time, move on!
* connect to 10.172.248.175 port 443 failed: Connection timed out
* Connection timeout after 20001 ms
* Closing connection 0
hsuma@plnx-admin:~/ocp-ai-config$
