cat <<'EOF' | oc apply -f -
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: milvus-data
  namespace: pai-prod
spec:
  storageClassName: netapp-app
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 200Gi
EOF
