hsuma@plnx-admin:~$ oc describe gateway pai-gateway -n openshift-ingress | grep -A3 'Listeners'
  Listeners:
    Allowed Routes:
      Namespaces:
        From:  Selector
--
  Listeners:
    Attached Routes:  0
    Conditions:
      Last Transition Time:  2026-02-26T04:51:26Z
hsuma@plnx-admin:~$
