# On plnx-vault
curl -sk https://api.ocp-ai.calix.local:6443/.well-known/openid-configuration

vault audit enable file file_path=/var/log/vault/audit.log


TOKEN=$(oc create token external-secrets -n pai-dev --duration=600s)
oc exec -n external-secrets deploy/external-secrets -- curl -sk \
  --request POST \
  --data "{\"jwt\":\"$TOKEN\",\"role\":\"eso-pai-dev\"}" \
  https://vault.calix.local:8200/v1/auth/kubernetes-ocp-ai/login


  tail -5 /var/log/vault/audit.log | python3 -m json.tool
