hsuma@plnx-admin:~/ocp-ai-config$ cat gateway-api/*.yaml
apiVersion: gateway.networking.k8s.io/v1
kind: GatewayClass
metadata:
  name: openshift-default
spec:
  controllerName: openshift.io/gateway-controller/v1
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: pai-gateway
  namespace: openshift-ingress
spec:
  gatewayClassName: openshift-default
  listeners:
    - name: http
      port: 80
      protocol: HTTP
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              app.kubernetes.io/part-of: pai
hsuma@plnx-admin:~/ocp-ai-config$
