hsuma@plnx-admin:~/ocp-ai-config$ oc logs -n pai-dev -l app.kubernetes.io/name=milvus --tail=100 | grep -i -E "error|fatal|fail|" | head -20
	/usr/local/go/src/runtime/asm_amd64.s:1700 +0x1 fp=0xc0001dbfe8 sp=0xc0001dbfe0 pc=0x28e15a1
created by go.opentelemetry.io/otel/sdk/trace.NewBatchSpanProcessor in goroutine 1
	/go/pkg/mod/go.opentelemetry.io/otel/sdk@v1.34.0/trace/batch_span_processor.go:115 +0x2d9

goroutine 318 gp=0xc001703880 m=nil [select]:
runtime.gopark(0xc00138bf58?, 0x2?, 0xa0?, 0x5a?, 0xc00138bea4?)
	/usr/local/go/src/runtime/proc.go:435 +0xce fp=0xc00138bd28 sp=0xc00138bd08 pc=0x28d892e
runtime.selectgo(0xc00138bf58, 0xc00138bea0, 0x840d160?, 0x0, 0x1?, 0x1)
	/usr/local/go/src/runtime/select.go:351 +0x837 fp=0xc00138be60 sp=0xc00138bd28 pc=0x28b3f37
github.com/milvus-io/milvus/pkg/v2/config.(*refresher).refreshPeriodically(0xc001170c30, {0x7ab7106, 0xa})
	/workspace/source/pkg/config/refresher.go:71 +0x228 fp=0xc00138bfb8 sp=0xc00138be60 pc=0x36d1528
github.com/milvus-io/milvus/pkg/v2/config.(*refresher).start.func1.gowrap1()
	/workspace/source/pkg/config/refresher.go:52 +0x28 fp=0xc00138bfe0 sp=0xc00138bfb8 pc=0x36d1208
runtime.goexit({})
	/usr/local/go/src/runtime/asm_amd64.s:1700 +0x1 fp=0xc00138bfe8 sp=0xc00138bfe0 pc=0x28e15a1
created by github.com/milvus-io/milvus/pkg/v2/config.(*refresher).start.func1 in goroutine 1
	/workspace/source/pkg/config/refresher.go:52 +0x94

goroutine 319 gp=0xc001703a40 m=nil [select]:
runtime.gopark(0xc001397778?, 0x2?, 0x8?, 0x11?, 0xc001397764?)
hsuma@plnx-admin:~/ocp-ai-config$ oc logs -n pai-dev -l app.kubernetes.io/name=milvus --tail=100 | grep -i -E "error" | head -20
hsuma@plnx-admin:~/ocp-ai-config$
