hsuma@plnx-admin:~/ocp-ai-config$ oc get objectstore -A
NAMESPACE   NAME    STATE                              HEALTH   AGE
pai-dev     minio   secret "minio-license" not found   red      62s
pai-prod    minio   secret "minio-license" not found   red      62s
pai-test    minio   secret "minio-license" not found   red      62s
hsuma@plnx-admin:~/ocp-ai-config$
hsuma@plnx-admin:~/ocp-ai-config$
