hsuma@plnx-admin:~/ocp-ai-config$ oc debug node/ocp-ai-master03.calix.local -- chroot /host sysctl -w net.ipv4.conf.eno6.arp_ignore=1 net.ipv4.conf.eno6.arp_announce=2
Starting pod/ocp-ai-master03calixlocal-debug-zwpms ...
To use host binaries, run `chroot /host`. Instead, if you need to access host namespaces, run `nsenter -a -t 1`.
net.ipv4.conf.eno6.arp_ignore = 1
net.ipv4.conf.eno6.arp_announce = 2

Removing debug pod ...
hsuma@plnx-admin:~/ocp-ai-config$ sudo arp -d 10.172.248.175 2>/dev/null; sleep 3; ping -c 3 10.172.248.175
PING 10.172.248.175 (10.172.248.175) 56(84) bytes of data.

--- 10.172.248.175 ping statistics ---
3 packets transmitted, 0 received, 100% packet loss, time 2025ms

hsuma@plnx-admin:~/ocp-ai-config$
