[root@plnx-vault ~]# unset VAULT_SKIP_VERIFY
[root@plnx-vault ~]# export VAULT_ADDR=https://vault.calix.local:8200
[root@plnx-vault ~]#
[root@plnx-vault ~]#
[root@plnx-vault ~]#
[root@plnx-vault ~]# vault read auth/kubernetes-ocp-ai/role/eso-pai-dev
Error reading auth/kubernetes-ocp-ai/role/eso-pai-dev: Get "https://vault.calix.local:8200/v1/auth/kubernetes-ocp-ai/role/eso-pai-dev": tls: failed to verify certificate: x509: certificate signed by unknown authority
[root@plnx-vault ~]#
[root@plnx-vault ~]#
[root@plnx-vault ~]# unset VAULT_SKIP_VERIFY
[root@plnx-vault ~]# vault read auth/kubernetes-ocp-ai/role/eso-pai-dev
Error reading auth/kubernetes-ocp-ai/role/eso-pai-dev: Get "https://vault.calix.local:8200/v1/auth/kubernetes-ocp-ai/role/eso-pai-dev": tls: failed to verify certificate: x509: certificate signed by unknown authority
[root@plnx-vault ~]# export VAULT_SKIP_VERIFY=true
[root@plnx-vault ~]# vault read auth/kubernetes-ocp-ai/role/eso-pai-dev
Key                                         Value
---                                         -----
alias_name_source                           serviceaccount_uid
bound_service_account_names                 [external-secrets]
bound_service_account_namespace_selector    n/a
bound_service_account_namespaces            [pai-dev]
policies                                    [eso-pai-dev]
token_bound_cidrs                           []
token_explicit_max_ttl                      0s
token_max_ttl                               0s
token_no_default_policy                     false
token_num_uses                              0
token_period                                0s
token_policies                              [eso-pai-dev]
token_ttl                                   1h
token_type                                  default
ttl                                         1h
[root@plnx-vault ~]#
[root@plnx-vault ~]#
[root@plnx-vault ~]# vault read auth/kubernetes-ocp-ai/config
Key                                  Value
---                                  -----
disable_iss_validation               true
disable_local_ca_jwt                 false
issuer                               n/a
kubernetes_ca_cert                   -----BEGIN CERTIFICATE-----
MIIDMjCCAhqgAwIBAgIISFUmLej1otMwDQYJKoZIhvcNAQELBQAwNzESMBAGA1UE
CxMJb3BlbnNoaWZ0MSEwHwYDVQQDExhrdWJlLWFwaXNlcnZlci1sYi1zaWduZXIw
HhcNMjYwMjE1MjIwMzE5WhcNMzYwMjEzMjIwMzE5WjA3MRIwEAYDVQQLEwlvcGVu
c2hpZnQxITAfBgNVBAMTGGt1YmUtYXBpc2VydmVyLWxiLXNpZ25lcjCCASIwDQYJ
KoZIhvcNAQEBBQADggEPADCCAQoCggEBAMiLVokYJE+vUOAgjTTVnr8wiYgftnHs
Wumj2umuAKh4lB5MrQ2W8kGFai+1YkEKMlOqTWQ4xwRN08AldTRPVhuy1d8BjEZa
ROkya2ngo2sqbdwTIR93bt1Ah9u+A3+ikDEviqT25ROxb7XQ4EOGokxKb9FjXapG
y2RzqBR9q7AjLZGZLspbzeOy5ofCeBJsJ5QJuZ106njBDHN3KzWVqwwhkXFazPU6
I/p1WwnE8ctRqV4EOP2JLfppR9rIW3Z5t+lR+24MKpI2gjSn69Nq12n30eGtr5wj
MKiFo2UCoWjopBWn7Hh8nRdaoXedr1nBLWGZ2KdNAOjVWqNl9r3mJzMCAwEAAaNC
MEAwDgYDVR0PAQH/BAQDAgKkMA8GA1UdEwEB/wQFMAMBAf8wHQYDVR0OBBYEFAZj
ghhtpFEdoxdliNp8hi8iaaBZMA0GCSqGSIb3DQEBCwUAA4IBAQCxlO1aoBE3Yhfq
tI4ibuvM0x/G3iQuF9PgvAOK/OnNk4gX4m7D7xFfkb1ScFDgQeHGsoJkF8xOPnoH
0wAXUyEezMsXR5Bv4ZsHHPiyE2G8EzORf0vVnL3trafBgiaU/Sn7BCdQAg/zaU0n
H0YxsFtX6v20XSKpwkF8t2nX9DO6amnlg9zXwI7TXpZDAS0hUIWHYSk7dhnpeFAD
6GBJChaf3IzoW/PluRFnwcgx9hvEgNM+f0VKvtzwXkS+xYtcN5V2UerIReLomJjI
iaxxpsYrd9/gnBODdqTcp3NIdBUYE+Nn7+BTzg5aFT84AHVo0JbGdM6vFEHSg6Z5
l34aOc9+
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIDQDCCAiigAwIBAgIIFq8cn/Di4KEwDQYJKoZIhvcNAQELBQAwPjESMBAGA1UE
CxMJb3BlbnNoaWZ0MSgwJgYDVQQDEx9rdWJlLWFwaXNlcnZlci1sb2NhbGhvc3Qt
c2lnbmVyMB4XDTI2MDIxNTIyMDMxOFoXDTM2MDIxMzIyMDMxOFowPjESMBAGA1UE
CxMJb3BlbnNoaWZ0MSgwJgYDVQQDEx9rdWJlLWFwaXNlcnZlci1sb2NhbGhvc3Qt
c2lnbmVyMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwWXA3Pdre7Dx
CdRDCzR59/Vi/49JrdmN2V0u30czUeNz31R064/UWyko1lB2qlyjDhhJfiXB+jk9
E5F2FW/UmFn8HJJ3Usp/RqWLVGtNp7AzetDV0JRi9zB26141uUWiyn1cqxZ89WHA
GWspbb9R8Ns2ITiDJAMydY3yrPf0ipkrKnrTiABRB+OmPe1kZnNrjLTVobVSQFLR
Pm6kQQle8wQeQZ2YUn1uhtYzryiaInhJEDUZOk5Q/IxbZ+fbwkHa2ea5+0j8Yith
b37FjGDjJ5jczlzhiRSmfzAvbfPfLKUvKfSsE9eFwnpMXJhFc7Hz6s2grSig08CX
MHagttmkdQIDAQABo0IwQDAOBgNVHQ8BAf8EBAMCAqQwDwYDVR0TAQH/BAUwAwEB
/zAdBgNVHQ4EFgQUnvVOAH8kgoGz9YpSuuYZtfpO22gwDQYJKoZIhvcNAQELBQAD
ggEBAKnl8B8s3EnW4/NgW8cbTkRpoIsP7ziDoKJhdnJyc7CD5OEzlks0HkGqQlmW
f39WCG0tKTmNpm6LVRgIOgQqitkvKNGUzXKl3aIQ+bSzm7u3dEu7dGiFmyn8KRfg
H08RG42onJ52KEJTUw0B85uVxbFZp0WRhyQGQiUx94eTI3uAhdZORIwbbxm3hUbO
mVt+rykwejQDToS4dAICHx7p3zfQBL8JLmVl6nwOXJFAtcfwhEIAR49jsmEK6M4k
b1dESWeObAIaWQ8tw7KGvDotzBTNQa33EEMwl7YEUVBxNb03OO/Njzd0wkZcOsu0
lVcnrnFHrABrds5mQUIs8Diylrw=
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIDTDCCAjSgAwIBAgIIVKbC9gVw+58wDQYJKoZIhvcNAQELBQAwRDESMBAGA1UE
CxMJb3BlbnNoaWZ0MS4wLAYDVQQDEyVrdWJlLWFwaXNlcnZlci1zZXJ2aWNlLW5l
dHdvcmstc2lnbmVyMB4XDTI2MDIxNTIyMDMxOFoXDTM2MDIxMzIyMDMxOFowRDES
MBAGA1UECxMJb3BlbnNoaWZ0MS4wLAYDVQQDEyVrdWJlLWFwaXNlcnZlci1zZXJ2
aWNlLW5ldHdvcmstc2lnbmVyMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC
AQEAyD1ingbzdhVR8VjDjJsdVfaEzqSpCBoT0tyn3Phf6OUAi7zEqGnAfCnjkE/b
LtFmrouv/YMwdBwTcGsJhPjjiyi9+MfJh8qaOvZ2Jsnq7C6R6pFNAUkabpgy0Rkm
SxChtILfrOVM3EtFs9lIrltcaRs62xs6EM5gV+3rWU9y6d6/l4l+ZsnsNnw2g+Fk
5yY6w4rPTpZYhNWk3CY9rwlcen3B90h7ORmE1Qitz3Epsf6wu1rT7MPPdGtdws17
R+AtVkrzVMdxthDTixthF4R+yn3179gngqgHibN+Q4co6qCkX29K21gbl1kLpidn
jcwpA4HYcG7D6r9SViE3lS74QwIDAQABo0IwQDAOBgNVHQ8BAf8EBAMCAqQwDwYD
VR0TAQH/BAUwAwEB/zAdBgNVHQ4EFgQU/n03K5XpOxzTX5k894+To2oEeB0wDQYJ
KoZIhvcNAQELBQADggEBAKkwPEKOCx4rPiNQXxDPuyi6cFwBoZPzF11Sc0m9dK0J
0kxSEuTgwXPp6vx2MVgTg0GMkGaM0Hw18jUHeQLTYJzfijOLY5sZ17/DZTOzDu7J
MGA49c+TZN+WYAWg1xo1cQeKQi50cAxoKE+FxbyQhNy0MFeWnHF+hR63oITpQOUD
4U40ioPuAix5veWw9e9T43QAMv+ugKddmkIZb7kFyj+yYMl+YHFukk4ny/ouPl9O
b6sWWwhEb6zRrhXfU0DuDjvqYXrhKCX6bcQM/V54ViSKZU6VFra0MxaGXPAQaft7
x/68j5xe/+ZMIKV26pWLnfVA1s9XbKKFoM9xyMZ4ZJY=
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIDlzCCAn+gAwIBAgIIGzYRQ3T9TrowDQYJKoZIhvcNAQELBQAwWTFXMFUGA1UE
AwxOb3BlbnNoaWZ0LWt1YmUtYXBpc2VydmVyLW9wZXJhdG9yX2xvY2FsaG9zdC1y
ZWNvdmVyeS1zZXJ2aW5nLXNpZ25lckAxNzcxMTk1NTQyMB4XDTI2MDIxNTIyNDU0
MVoXDTM2MDIxMzIyNDU0MlowWTFXMFUGA1UEAwxOb3BlbnNoaWZ0LWt1YmUtYXBp
c2VydmVyLW9wZXJhdG9yX2xvY2FsaG9zdC1yZWNvdmVyeS1zZXJ2aW5nLXNpZ25l
ckAxNzcxMTk1NTQyMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtGHi
Hq8wm2fds0FZ6qgSfsgtS0nrLWCoO5sUATsoZNnHFa39cnY+nbXn3lySA7jhu3yk
aYszwrwGB/9o72jqVbWFfbmxxliyCZ274te/N/T9L7s78GKUev5S2URGuChffP3I
oompPeF0TUsul6VBDIL+aNqSIQTEXzprWTpF/RviHrkoxbQADuYabMtDNaGZvEPF
D8wUkWwoS5cl/LchOzvEzs6Ollh9nTgAzZhuuuCHUx7wJC+oO+m2itzHnpUu0War
+TSf6B1Jyk6+er3nMfH4T6Mq6+s7fCV3POrlyouB0jbWlqccFYKVd7pPUWWAQMqW
VNzrUiyd5ENFOzW89QIDAQABo2MwYTAOBgNVHQ8BAf8EBAMCAqQwDwYDVR0TAQH/
BAUwAwEB/zAdBgNVHQ4EFgQUs+nvFuiwFvjGJmvTvEucVcO1484wHwYDVR0jBBgw
FoAUs+nvFuiwFvjGJmvTvEucVcO1484wDQYJKoZIhvcNAQELBQADggEBACLvKual
muMWT4Lh15RcoNEm3kEJzyBleUKl5JlaPJMniME4W2WKMKHFQLTM7xqmghBzcCXA
qBMVD+tnxwcRrusF0clHnmfsdlhVHGi1tYnJznYabMNmfmlyU759boAdaoO9YXT7
1+8BJOOy7ubPJ4HeJGvUeevm4THA59jfF6bUmPeEJ/4f13EEzja4rLEaHD4JtHXw
r/FXyo+HD1IxxD+TKEA8viB8Nno+jWQmAksOornu7UWIUYLr1a2ilX04O+y8elUL
xQEbeZGxQgdDnVcS8mg6csIpLxZQYFUWDdabCpWuSw5l44yHWFNzG3yw2CyePmhO
xGZxQzxojyqCKq0=
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIDaTCCAlGgAwIBAgIIUAiTXpxXvVEwDQYJKoZIhvcNAQELBQAwJjEkMCIGA1UE
AwwbaW5ncmVzcy1vcGVyYXRvckAxNzcxMTk1NjA4MB4XDTI2MDIxNTIyNDY0OFoX
DTI4MDIxNTIyNDY0OVowJDEiMCAGA1UEAwwZKi5hcHBzLm9jcC1haS5jYWxpeC5s
b2NhbDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALTEdv6Pwp01Mp+d
N3rWiljC3yJO8y4EN2tR0hBbuRHnVLL4VoegIv5uNat9NVzxokW9IWBT76/ELJBm
LJsQYGOePVDAi8rrEamahl82UoWAV/TeTcaIcrRQl+eYyrRQ5vUbpWkwOjfbE0WY
vGxX8v1DfFdRg8AABrBFDLDT8/911B+hWRP8uuox1qZfXbYaJBd1AidvJIvRna6s
UgMoyWjaKYbe1XQSfQDnmFrfqigL2GeQ6FEBhck0KPJjD/Q+JJplcVZsUXnnTrSI
txIr2YLlloJsrhKQ3O3ttRztLLA7drH7oMBRhlZ7bxOBHlMAv0KlDJUd8bofFXVs
lZJ4tX8CAwEAAaOBnDCBmTAOBgNVHQ8BAf8EBAMCBaAwEwYDVR0lBAwwCgYIKwYB
BQUHAwEwDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQU6rYbBMi2CHRBQmrOLyuVm2BA
dwowHwYDVR0jBBgwFoAUQfRHteVebpeyMO7jn/t7wpowkZAwJAYDVR0RBB0wG4IZ
Ki5hcHBzLm9jcC1haS5jYWxpeC5sb2NhbDANBgkqhkiG9w0BAQsFAAOCAQEARfIW
BJuhLgbVLqzuCFsArHMzjktKW4MxsfzJUYPvtgPguLq1iB1nYnO23LsGuH9cCTJj
8chkJI0ZdIsy1b15K0NW8fS2rcVu0VfQdsxXW+ar2o7ZZp5X+76jDMVataUV4E2W
8YV56sWtvgmAhSBUd4HhnKW1MIO2uUMh7/nmTqezMgWJSKgvDJ9o3gNgter21pHO
no1T7ULh6V1MqLSjLYpvT3pWm7JeexfUv4R6gdXPMSYSLySwXBXE72+eepBz2ObQ
JSM2DHbVrT40TfZevOXrCZn0MhepucTUWFXpbuNqHPa7CVfBbHiOdfxKVMv8l+Kt
TBlaKFE+XPis1SQfHg==
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIDDDCCAfSgAwIBAgIBATANBgkqhkiG9w0BAQsFADAmMSQwIgYDVQQDDBtpbmdy
ZXNzLW9wZXJhdG9yQDE3NzExOTU2MDgwHhcNMjYwMjE1MjI0NjQ3WhcNMjgwMjE1
MjI0NjQ4WjAmMSQwIgYDVQQDDBtpbmdyZXNzLW9wZXJhdG9yQDE3NzExOTU2MDgw
ggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCsro7/u1G0rqFEILpg5c/0
cCRU7/RTyp64ETZescsJTW0OaInc/7AhLqkICzHnafBBvljgBtb+DvgE0dBv6qfT
oSNrlpa3xsKJddGbtqdGifj3iMvfgpMztm2blq+ZJLF+dfWcjLJ9qJkrXhFiVZ5m
ovWGylizfoZwO9WElg7fEqQdhnRK6HOqn7sj2Qg5Pr6urpDsjoOMz+ma4nd5zBgP
4wK5bRdzvCOXBgoBYeHqMPE5J9Yqmiydl2KPbnubkNS6S74gX8mBJ913OQCPgtLR
Tc+56g7e3o1T4uVSJE+4y12wrrgoF/ScpK/aWAaTCGIev15NF/rYzfOPnDl8rK7t
AgMBAAGjRTBDMA4GA1UdDwEB/wQEAwICpDASBgNVHRMBAf8ECDAGAQH/AgEAMB0G
A1UdDgQWBBRB9Ee15V5ul7Iw7uOf+3vCmjCRkDANBgkqhkiG9w0BAQsFAAOCAQEA
CsijckcZlRFrEOl28YsambteLByLsw0YAhWlpH+C3+oMqmDUmLdyyihdp77pLDi/
i2W+G/N8kl7+7OZcCKFRmjPN7UaE4ScNu7gXNy4Ginkad7PhAqqtCgCz2dQTgjWm
NJr5w9EJ3ObRTYg8CsfWs+nDHVQapERuqbpW8iIVs6ahrYV3J9c48qiSJThcF3VB
ltZhnoxxC+8EQ+k4/b6wtFDrtR4E+Fi/zNLRgAdc3j3utOzmACkB5B3V4SSSLmgi
4tgV44M60DcA2mUcMkc8D61srh8H9/eS7ZygkVNxCliNtvtmGtwfB4k+Jk0g5bm/
eENISSjqvhIzSQrPf88ByA==
-----END CERTIFICATE-----
kubernetes_host                      https://api.ocp-ai.calix.local:6443
pem_keys                             []
token_reviewer_jwt_set               true
use_annotations_as_alias_metadata    false
[root@plnx-vault ~]#
