MINIO_USER_DEV=$(oc get secret minio-credentials -n pai-dev -o jsonpath='{.data.MINIO_ROOT_USER}' | base64 -d)
MINIO_PASS_DEV=$(oc get secret minio-credentials -n pai-dev -o jsonpath='{.data.MINIO_ROOT_PASSWORD}' | base64 -d)

cat <<EOF | oc apply -f -
apiVersion: v1
kind: Secret
metadata:
  name: storage-configuration
  namespace: pai-dev
type: Opaque
stringData:
  config.env: |
    export MINIO_ROOT_USER="${MINIO_USER_DEV}"
    export MINIO_ROOT_PASSWORD="${MINIO_PASS_DEV}"
    export MINIO_STORAGE_CLASS_STANDARD="EC:0"
    export MINIO_BROWSER="on"
EOF

MINIO_USER_TEST=$(oc get secret minio-credentials -n pai-test -o jsonpath='{.data.MINIO_ROOT_USER}' | base64 -d)
MINIO_PASS_TEST=$(oc get secret minio-credentials -n pai-test -o jsonpath='{.data.MINIO_ROOT_PASSWORD}' | base64 -d)

cat <<EOF | oc apply -f -
apiVersion: v1
kind: Secret
metadata:
  name: storage-configuration
  namespace: pai-test
type: Opaque
stringData:
  config.env: |
    export MINIO_ROOT_USER="${MINIO_USER_TEST}"
    export MINIO_ROOT_PASSWORD="${MINIO_PASS_TEST}"
    export MINIO_STORAGE_CLASS_STANDARD="EC:0"
    export MINIO_BROWSER="on"
EOF

MINIO_USER_PROD=$(oc get secret minio-credentials -n pai-prod -o jsonpath='{.data.MINIO_ROOT_USER}' | base64 -d)
MINIO_PASS_PROD=$(oc get secret minio-credentials -n pai-prod -o jsonpath='{.data.MINIO_ROOT_PASSWORD}' | base64 -d)

cat <<EOF | oc apply -f -
apiVersion: v1
kind: Secret
metadata:
  name: storage-configuration
  namespace: pai-prod
type: Opaque
stringData:
  config.env: |
    export MINIO_ROOT_USER="${MINIO_USER_PROD}"
    export MINIO_ROOT_PASSWORD="${MINIO_PASS_PROD}"
    export MINIO_STORAGE_CLASS_STANDARD="EC:0"
    export MINIO_BROWSER="on"
EOF
