[core@ocp-ai-gpu01 ~]$ journalctl -u app-vlan-policy-routes.service
Feb 28 20:16:13 ocp-ai-gpu01.calix.local app-vlan-policy-routes.sh[6185]: app-vlan-policy-routes: Added rule from 10.172.194.153 table 101
Feb 28 20:16:14 ocp-ai-gpu01.calix.local app-vlan-policy-routes.sh[6199]: Error: ipv4: FIB table does not exist.
Feb 28 20:16:14 ocp-ai-gpu01.calix.local app-vlan-policy-routes.sh[6199]: Dump terminated
Feb 28 20:16:14 ocp-ai-gpu01.calix.local app-vlan-policy-routes.sh[6185]: app-vlan-policy-routes: Added default route via 10.172.194.1 dev bond0.1794 table 101
Feb 28 20:16:14 ocp-ai-gpu01.calix.local app-vlan-policy-routes.sh[6185]: app-vlan-policy-routes: Added rule from 10.172.198.153 table 100
Feb 28 20:16:13 ocp-ai-gpu01.calix.local systemd[1]: Starting Configure policy-based routing for app VLANs...
Feb 28 20:16:14 ocp-ai-gpu01.calix.local app-vlan-policy-routes.sh[6218]: Error: ipv4: FIB table does not exist.
Feb 28 20:16:14 ocp-ai-gpu01.calix.local app-vlan-policy-routes.sh[6218]: Dump terminated
Feb 28 20:16:14 ocp-ai-gpu01.calix.local app-vlan-policy-routes.sh[6185]: app-vlan-policy-routes: Added default route via 10.172.198.1 dev bond0.1798 table 100
Feb 28 20:16:14 ocp-ai-gpu01.calix.local app-vlan-policy-routes.sh[6185]: app-vlan-policy-routes: Added rule from 10.172.202.153 table 102
Feb 28 20:16:14 ocp-ai-gpu01.calix.local app-vlan-policy-routes.sh[6233]: Error: ipv4: FIB table does not exist.
Feb 28 20:16:14 ocp-ai-gpu01.calix.local app-vlan-policy-routes.sh[6233]: Dump terminated
Feb 28 20:16:14 ocp-ai-gpu01.calix.local app-vlan-policy-routes.sh[6185]: app-vlan-policy-routes: Added default route via 10.172.202.1 dev bond0.1797 table 102
Feb 28 20:16:14 ocp-ai-gpu01.calix.local app-vlan-policy-routes.sh[6185]: app-vlan-policy-routes: Configuration complete
Feb 28 20:16:13 ocp-ai-gpu01.calix.local systemd[1]: Finished Configure policy-based routing for app VLANs.
[core@ocp-ai-gpu01 ~]$


^Chsuma@plnx-admin:~$ ping -c3 10.172.194.153
PING 10.172.194.153 (10.172.194.153) 56(84) bytes of data.
64 bytes from 10.172.194.153: icmp_seq=1 ttl=63 time=0.549 ms
64 bytes from 10.172.194.153: icmp_seq=2 ttl=63 time=0.206 ms
64 bytes from 10.172.194.153: icmp_seq=3 ttl=63 time=0.141 ms

--- 10.172.194.153 ping statistics ---
3 packets transmitted, 3 received, 0% packet loss, time 2027ms
rtt min/avg/max/mdev = 0.141/0.298/0.549/0.178 ms
hsuma@plnx-admin:~$ ping -c3 10.172.198.153
PING 10.172.198.153 (10.172.198.153) 56(84) bytes of data.
64 bytes from 10.172.198.153: icmp_seq=1 ttl=63 time=0.573 ms
64 bytes from 10.172.198.153: icmp_seq=2 ttl=63 time=0.140 ms
64 bytes from 10.172.198.153: icmp_seq=3 ttl=63 time=0.220 ms

--- 10.172.198.153 ping statistics ---
3 packets transmitted, 3 received, 0% packet loss, time 2044ms
rtt min/avg/max/mdev = 0.140/0.311/0.573/0.188 ms
hsuma@plnx-admin:~$ ping -c3 10.172.202.153
PING 10.172.202.153 (10.172.202.153) 56(84) bytes of data.
64 bytes from 10.172.202.153: icmp_seq=1 ttl=63 time=0.459 ms
64 bytes from 10.172.202.153: icmp_seq=2 ttl=63 time=0.167 ms
64 bytes from 10.172.202.153: icmp_seq=3 ttl=63 time=0.141 ms

--- 10.172.202.153 ping statistics ---
3 packets transmitted, 3 received, 0% packet loss, time 2040ms
rtt min/avg/max/mdev = 0.141/0.255/0.459/0.144 ms
hsuma@plnx-admin:~$
