# What's actually running on the nodes
oc get mcp worker -o jsonpath='{.status.configuration.name}'

# What failed to render
oc get mcp worker -o jsonpath='{.spec.configuration.name}'

# List all worker MachineConfigs to see what's being combined
oc get mc -l machineconfiguration.openshift.io/role=worker --sort-by=.metadata.name


oc get mc 99-worker-app-vlan-policy-routes -o yaml | grep -A 3 "overwrite"

oc get mc rendered-worker-f95f3734cb1f80b40240990e768af289 -o jsonpath='{.spec.config.storage.files[58]}' 2>/dev/null | python3 -m json.tool
