hsuma@plnx-admin:~/ocp-ai-config$ cat metallb/*.yaml
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: pai-services-dev
  namespace: metallb-system
spec:
  addresses:
    - 10.172.248.160-10.172.248.163
  autoAssign: false
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: pai-services-test
  namespace: metallb-system
spec:
  addresses:
    - 10.172.248.165-10.172.248.168
  autoAssign: false
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: pai-services-prod
  namespace: metallb-system
spec:
  addresses:
    - 10.172.248.170-10.172.248.173
  autoAssign: false
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: reserved-future
  namespace: metallb-system
spec:
  addresses:
    - 10.172.248.175-10.172.248.180
  autoAssign: false
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: l2-vlan1510
  namespace: metallb-system
spec:
  ipAddressPools:
    - pai-services-dev
    - pai-services-test
    - pai-services-prod
    - reserved-future
apiVersion: metallb.io/v1beta1
kind: MetalLB
metadata:
  name: metallb
  namespace: metallb-system
spec:
  logLevel: warn
apiVersion: v1
kind: Namespace
metadata:
  name: pai-dev
  labels:
    env: dev
    app.kubernetes.io/part-of: pai
---
apiVersion: v1
kind: Namespace
metadata:
  name: pai-test
  labels:
    env: test
    app.kubernetes.io/part-of: pai
---
apiVersion: v1
kind: Namespace
metadata:
  name: pai-prod
  labels:
    env: prod
    app.kubernetes.io/part-of: pai
hsuma@plnx-admin:~/ocp-ai-config$
